@import 'base-wp/head-wp';
// 375 maket mobile size
//1440 maket desktop size
// devices viewport width starts at:
$breakpoints: (
  xs-phone: 320px,
  apple: 375px,
  phone: 480px,
  samsung: 525px,
  tablet: 768px,
  desktop: 992px,
  widescreen: 1250px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import './abstracts/mixins';

// 2. Vendors: include media mixins and mormalize imported from node_modules
@import 'vendors/normalize';
@import 'vendors/owl.carousel';
@import 'vendors/owl.theme.default';

@import 'vendors/icomoon';

@import '~include-media/dist/include-media';

// 3. Base styles and elements
@import 'base/base';
@import 'base/helpers';
@import 'base/fonts';
@import 'base/typography';
@import 'base/forms';
// @import 'base/web_accessibility';

// base WP
// @import 'base-wp/cms-reset';
// @import 'base-wp/wp-reset';

// 4. Layout-related sections

@import 'layout/common';
@import 'components/bredcrumbs';
@import 'layout/2----header';
@import 'layout/3----lugano-business-forum';
@import 'layout/4----about-business-forum';
@import 'layout/5----was-before';
@import 'layout/6----discover-power';
@import 'layout/7----video';
@import 'layout/8----meet-our-speakers';
@import 'layout/9----conference-schedule';
@import 'layout/10----tickes-pre-sale';
@import 'layout/11----join-our';
@import 'layout/12----organizers';
@import 'layout/13-----ticker-tape';
@import 'layout/14----sponsors.scss';
@import 'layout/15----see-at-lugano';
@import 'layout/16----partners';
@import 'layout/17----media-partners';
@import 'layout/18----latest-articles';
@import 'layout/19----footer';

// 5. Components
// @import 'components/button';
// @import 'components/hero';

// 6. Page-specific styles
// @import 'pages/home';

// 7. Themes
// @import 'themes/themes';
