<section id="ticket-section" class="tickes-pre-sale">
  <img decoding="async" src="images/get-your-ticket/bg.jpg" alt="get your ticket vip-ticket">
  <div class="container">
    <hgroup>
      <h2 class="tickes-pre-sale__title">get your <mark>ticket</mark></h2>
      <p class="tickes-pre-sale__info">
        <em>Take advantage of the <b>early-bird</b> discount!</em> Enter EarlyBirds
        in the special box for promo codesas you purchase your tickets and
        <strong>get 20% off</strong>
      </p>
    </hgroup>
    <div class="tickes-articles">
      <article class="tickes-pre-sale__block-standart block-standart">
        <h2 class="block-standart__title"><b>standart</b> ticket</h2>
        <p class="block-standart__sub-title"><strong>500<span>CHF</span></strong></p>
        <ul class="block-standart__list">
          <li class="block-standart__list-item">Possibility to attend the event for 2 days</li>
          <li class="block-standart__list-item">Access to all halls of the Forum</li>
          <li class="block-standart__list-item">Access to the networking zone</li>
          <li class="block-standart__list-item">Catering (within 2 days)</li>
          <li class="block-standart__list-item"><s>Fastpass at registration and to all halls</s></li>
          <li class="block-standart__list-item"><s>Access to the Forum's VIP areas</s></li>
          <li class="block-standart__list-item"><s>VIP Dinner Access</s></li>
        </ul>
        <a href="https://www.tickettailor.com" class="block-standart__btn btn">get your ticket</a>
      </article>
      <article class="tickes-pre-sale__block-vip block-vip">
        <h2 class="block-vip__title"><b>vip</b>-ticket</h2>
        <p class="block-vip__sub-title"><strong>1000<span>CHF</span></strong></p>
        <ul class="block-vip__list">
          <li class="block-vip__list-item">Possibility to attend the event for 2 days</li>
          <li class="block-vip__list-item">Access to all halls of the Forum</li>
          <li class="block-vip__list-item">Access to the networking zone</li>
          <li class="block-vip__list-item">Catering (within 2 days)</li>
          <li class="block-vip__list-item">Fastpass at registration and to all halls</li>
          <li class="block-vip__list-item">Access to the Forum's VIP areas</li>
          <li class="block-vip__list-item">VIP Dinner Access</li>
        </ul>
        <a href="https://www.tickettailor.com" class="block-vip__btn btn">get your ticket</a>
      </article>
    </div>
  </div>
</section>