<section>
	<header>
		<h2>Join our newsletter and stay updated</h2>
		<p>Our curated news collection brings you up-to-date information on politics, technology, business, health,
			entertainment, and more. Stay informed, stay connected.</p>
	</header>

	<form method="POST">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" placeholder="youremail@example.com" required>

		<label for="name">Your Name:</label>
		<input type="text" id="name" name="name" placeholder="John Smith" required>

		<label for="agree">
			<input type="checkbox" id="agree" name="agree" value="yes" required>I agree to the processing of my personal data
		</label>
		<button>Subscribe</button>
	</form>
</section>