<section class="organizers">
  <hgroup>
    <h2>Organizers</h2>
    <p>
      The success of the Lugano Business Forum rests not only on the brilliant
      minds on stage but also on the synchronized efforts of its meticulous and
      ambitious organizers.
    </p>
  </hgroup>

  <article>
    <img
      src="/images/organizers/blockchain-association-of-ukraine.svg"
      alt="Thanks to our organizers"
    />
  </article>
  <article>
    <img src="/images/organizers/usba.svg" alt="Thanks to our organizers" />
  </article>
  <article>
    <img src="/images/organizers/usba.svg" alt="Thanks to our organizers" />
  </article>
  <article>
    <img
      src="/images/organizers/superheroes.svg"
      alt="Thanks to our organizers"
    />
  </article>

  <marquee
    style="transform: rotate(3deg)"
    behavior="scroll"
    direction="left"
    scrollamount="10"
  >
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
  </marquee>
  <marquee
    style="transform: rotate(-3deg)"
    behavior="scroll"
    direction="left"
    scrollamount="10"
  >
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
    <article>
      <h2>
        <strong>LUGANO</strong>
        <b>BUSINESS FORUM</b>
      </h2>
      <data>
        <em>7-8 May 2024</em>
      </data>
    </article>
  </marquee>
</section>
