<section class="join-our">

	<div class="container">
		<hgroup class="join-our__description ">
			<h2 class="join-our__description-h">Join our newsletter
				& stay update</h2>
			<p class="join-our__description-p">Our curated news collection brings you up-to-date information on politics,
				technology, business, health,
				entertainment, and more. Stay informed, stay connected.</p>
		</hgroup>

		<div class="footer-top-right">
			<img src="images/join-our/arow.svg" alt="Subscribe">
			<div class="form-wrap">
				<form method="POST" class="join-our__form ">

					<label for="email" class="join-our__label-email">
						<span>Your email:</span>
						<input type="email" id="email" name="email" placeholder="loremipsum@gmail.com" required>
					</label>

					<label class="join-our__label-name" for="name"><span>Your name</span>
						<input type="text" id="name" name="name" placeholder="Ivan" required>

					</label>

					<label class="checkbox-custom">

						<input type="checkbox" required>

						<span class="checkbox-custom__text">
							I agree to the processing of my personal data
						</span>

					</label>


					<button class="join-our__form-btn" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</section>