<section>
<h2>Sponsors</h2>
<article>
	<img src="/images/Sponsors/kuna-logo-330-100.png" alt="Thank you to our sponsors">
	<p>We are a group of companies under the common name <strong>KUNA</strong>. Each company is a member of <strong>KUNA ecosystem</strong></p>
</article>
<article>
	<img src="/images/Sponsors/kuna-logo-330-100.png" alt="Thank you to our sponsors">
	<p>We are a group of companies under the common name <strong>KUNA</strong>. Each company is a member of <strong>KUNA ecosystem</strong></p>
</article>

</section>