<section class="organizers ">
  <div class="container">
    <hgroup class="organizers__hgroup">
      <h2 class="organizers__hgroup-h">Organizers</h2>
      <p class="organizers__hgroup-p">
        The success of the Lugano Business Forum rests not only on the brilliant
        minds on stage but also on the synchronized efforts of its meticulous and
        ambitious organizers.
      </p>
    </hgroup>
    <a href="https://bau.ai/" target="_blank" class="organizers__article1">
      <img class="organizers__article-img" src="images/organizers/blockchain-association-of-ukraine.svg"
        alt="Thanks to our organizers" />
    </a>
    <a href="https://ukraine-swiss.ch/uk/" target="_blank" class="organizers__article2">
      <img class="organizers__article-img" src="images/organizers/usba.svg" alt="Thanks to our organizers" />
    </a>
    <a href="https://ukraine-swiss.ch/uk/" target="_blank" class="organizers__article3">
      <img class="organizers__article-img" src="images/organizers/usba.svg" alt="Thanks to our organizers" />
    </a>
    <a href="https://superheroes.ua/" target="_blank" class="organizers__article4">
      <img class="organizers__article-img" src="images/organizers/superheroes.svg" alt="Thanks to our organizers" />
    </a>
  </div>
</section>