<section class="ticker-tape">
	<marquee class="ticker-tape__red-block" style="transform: rotate(2deg)">
		<article class="ticker-tape__red-item">
			<h2 class="ticker-tape__red-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__red-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__red-item">
			<h2 class="ticker-tape__red-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__red-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__red-item">
			<h2 class="ticker-tape__red-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__red-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__red-item">
			<h2 class="ticker-tape__red-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__red-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__red-item">
			<h2 class="ticker-tape__red-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__red-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
	</marquee>
	<marquee class="ticker-tape__black-block" style="transform: rotate(-2.8deg)">
		<article class="ticker-tape__black-item">
			<h2 class="ticker-tape__black-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__black-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__black-item">
			<h2 class="ticker-tape__black-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__black-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__black-item">
			<h2 class="ticker-tape__black-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__black-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__black-item">
			<h2 class="ticker-tape__black-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__black-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
		<article class="ticker-tape__black-item">
			<h2 class="ticker-tape__black-titlegroup">
				<strong><span>LUGANO</span></strong>
				<b>BUSINESS FORUM</b>
			</h2>
			<data class="ticker-tape__black-data">
				<em>7-8 May 2024</em>
			</data>
		</article>
	</marquee>
</section>