<div class="ticker-tape">

	<div class="line-box">
		<div class="mask">
			<div class="line">

				<p>
					<span>
						<strong> LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em><span>07-08</span> <span>MAY</span> <span>2024</span></em>
					</span>
				</p>
			</div>
		</div>
	</div>




	<div class="line-box">
		<div class="mask">
			<div class="line">

				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
				<p>
					<span>
						<strong>LUGANO</strong>
						<b>BUSINESS FORUM</b>
					</span>
					<span>
						<em>07-08 May 2024</em>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>