<section class="sponsors viewport-section">

	<div class="container">
		<h2 class="sponsors__title">Sponsors</h2>
		<ul class="sponsors__articles">
			<li>
				<a target="_blank" href="https://www.kunapay.io/" class="sponsors__article">
					<img class="sponsors__article-img" src="images/sponsors/kuna-logo-330-100.png"
						alt="Thank you to our sponsors">
					<p class="sponsors__article-p">We are a group of companies under the common name <strong>KUNA</strong>. Each
						company
						is a member of <strong>KUNA ecosystem</strong></p>
				</a>
			</li>

			<li>
				<a target="_blank" href="https://www.kunapay.io/" class="sponsors__article">
					<img class="sponsors__article-img" src="images/sponsors/kuna-logo-330-100.png"
						alt="Thank you to our sponsors">
					<p class="sponsors__article-p">We are a group of companies under the common name <strong>KUNA</strong>. Each
						company
						is a member of <strong>KUNA ecosystem</strong></p>
				</a>
			</li>
		</ul>
	</div>

</section>