<section class="sponsors container">
	<h2 class="sponsors__title">Sponsors</h2>

	<article class="sponsors__article1">
		<img class="sponsors__article-img" src="/images/Sponsors/kuna-logo-330-100.png" alt="Thank you to our sponsors">
		<p class="sponsors__article-p">We are a group of companies under the common name <strong>KUNA</strong>. Each company
			is a member of <strong>KUNA ecosystem</strong></p>
	</article>

	<article class="sponsors__article2">
		<img class="sponsors__article-img" src="/images/Sponsors/kuna-logo-330-100.png" alt="Thank you to our sponsors">
		<p class="sponsors__article-p">We are a group of companies under the common name <strong>KUNA</strong>. Each company
			is a member of <strong>KUNA ecosystem</strong></p>
	</article>

</section>