<section class="partners viewport-section">
  <div class="container">
    <h2 class="partners__title">Partners</h2>
    <ul class="partners-list">
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/joint-chamber-of-commerce-jcc-180-42.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/redd-tec-139-19.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/ta-vfnturfs-150-20.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/swiss-finance-tehnology-association-211-43.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/superheroes-marketing-207-41.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/bern-university-of-applied-sciences-60-75.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/national-association-198-41.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/citta-di-lugano-128-57.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/eb4-78-39.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/swiss-finance-tehnology-association-211-43.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/swiss-invest-network-145-75.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/synergy-consulting-127-74.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/geekle-92-71.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/ukrainian-european-100-100.svg" alt="Thanks to our partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="partners__article">
          <img src="images/partners/eb4-78-39.svg" alt="Thanks to our partners" />
        </a>
      </li>
    </ul>
  </div>
</section>