<section class="media-partners container">
  <h2 class="media-partners__title">Media partners</h2>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/payspace-magazine-140-28.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/payspace-magazine-140-28.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/ulead-business-community-168-52.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/odessa-buriness-club.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/gpt-busines.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/young.svg"
      alt="Thanks to our media partners"
    />
  </article>
  <article class="media-partners__article">
    <img
      src="/images/media-partners/tech-ukraine.svg"
      alt="Thanks to our media partners"
    />
  </article>
</section>
