<section class="media-partners ">


  <div class="container">


    <ul class="partners-list">
      <li class="media-partners__title">
        <h2>Media partners</h2>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/payspace-magazine-140-28.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/payspace-magazine-140-28.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/ulead-business-community-168-52.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/odessa-buriness-club.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/gpt-busines.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/young.svg" alt="Thanks to our media partners" />
        </a>
      </li>
      <li>
        <a target="_blank" href="#" class="media-partners__article">
          <img src="images/media-partners/tech-ukraine.svg" alt="Thanks to our media partners" />
        </a>
      </li>
    </ul>
  </div>
</section>