<section class="latest-articles container">
  <h2 class="latest-articles__title">Latest articles</h2>

  <article class="latest-articles__article1">
    <figure class="latest-articles__figure">
      <time class="latest-articles__figure-time" datetime="2023-05-15">May 15, 2023</time>
      <img class="latest-articles__figure-img" src="images/latest-articles/first.jpg" alt="News image" />
      <figcaption class="latest-articles__figure-figcaption" >Velit at fames amet enim commodo aliquam</figcaption>
      <p class="latest-articles__figure-p">
        Velit at fames amet enim commodo aliquam odio non. Sit duis egestas sit
        sit. In....
        <a class="latest-articles__link" href="#">Read...</a>
      </p>
    </figure>
  </article>

  <article class="latest-articles__article2">
    <figure class="latest-articles__figure">
      <time class="latest-articles__figure-time" datetime="2023-06-21">June 21, 2023</time>
      <img class="latest-articles__figure-img" src="images/latest-articles/jvavo.jpg" alt="News image" />
      <figcaption class="latest-articles__figure-figcaption">Velit at fames amet enim commodo aliquam odio non</figcaption>
      <p class="latest-articles__figure-p">
        Velit at fames amet enim commodo aliquam odio non. Sit duis egestas sit
        sit. In ....
        <a class="latest-articles__link" href="#">Read...</a>
      </p>
    </figure>
  </article>

  <article class="latest-articles__article3">
    <figure class="latest-articles__figure">
      <time class="latest-articles__figure-time" datetime="2023-05-15">May 15, 2023</time>
      <img class="latest-articles__figure-img" src="images/latest-articles/msvon.jpg" alt="News image" />
      <figcaption class="latest-articles__figure-figcaption">Sit duis egestas sit sit</figcaption>
      <p class="latest-articles__figure-p">
        Velit at fames amet enim commodo aliquam odio non. Sit duis egestas sit
        sit. In id non nullam egestas pellentesq....
        <a class="latest-articles__link" href="#">Read...</a>
      </p>
    </figure>
  </article>

  <article class="latest-articles__article4">
    <figure class="latest-articles__figure">

      <time class="latest-articles__figure-time" datetime="2023-06-21">June 21, 2023</time>

      <img class="latest-articles__figure-img" src="images/latest-articles/jvaln.jpg" alt="News image" />

      <figcaption class="latest-articles__figure-figcaption">
        Velit at fames amet enim commodo aliquam odio non.
      </figcaption>

      <p class="latest-articles__figure-p">
        Lorem ipsum dolor sit amet in id non nullam egestas pellentesque
        nibh....
        <a class="latest-articles__link" href="#">Read...</a>
      </p>

    </figure>
  </article>
  <button class="latest-articles__btn btn">More news</button>
</section>
