<footer class="footer ">

    <section class="footer-top-left ">
        <h3 hidden>Have any questions?</h3>


        <address class="footer-top-left__address">
            <h4>THE CONFERENCE WILL TAKE PLACE AT</h4>

            <p>Palazzo dei Congressi, Piazza Indipendenza 4 6900 Lugano</p>

            <h4>You can always write to us</h4>
            <a href="mailto:info@luganobusinessforum.ch">info@luganobusinessforum.ch</a>
        </address>

        <nav class="footer-top-left__nav" class="social">
            <h4 class="linked">FOLLOW US</h4>
            <a id="linked" href="https://www.linkedin.com/">
                <img src="/images/footer/l-logo.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/">
                <img src="/images/footer/f-logo.svg" alt="Facebook"></a>
        </nav>

            <button class="footer-top-left__address-btn" type="button">Press Kit</button>
    </section>



    <section class="footer-top-right">
        <h3 class="footer-top-right__title">Have any questions?</h3>
        <form method="POST" class="join-our__form ">
        
            <p class="join-our__p-email">
                <label for="email" class="join-our__label-email">
                    <span>Your email:</span>
                    <input class="join-our__input-email" type="email" id="email" name="email" required>
                    <small class="join-our__small-email">loremipsum@gmail.com</small>
                </label>
            </p>
        
        
            <p class="join-our__p-name">
                <label class="join-our__label-name" for="name"><span>Your question</span>
                    <input class="join-our__input-name" type="text" id="name" name="name" required>
                    <small class="join-our__small-name">What i.....?</small>
                </label>
            </p>
        
        
            <p class="join-our__p-checkbox">
                <label class="join-our__label-checkbox" for="agree">
                    <input class="join-our__input-checkbox" type="checkbox" id="agree" name="agree" value="yes" required>
                    <span></span>
        
                    <strong class="join-our__strong-checkbox">
                        I agree to the processing of my personal data
                    </strong>
        
                </label>
            </p>
        
            <button class="join-our__form-btn" form type="submit">SEND</button>
        </form>
    </section>


    <section class="footer-bottom">
        <h3 hidden>Have any questions?</h3>
        <p class="footer-bottom__policy">Privacy Policy</p>
        <p class="footer-bottom__copyright"><small>© Copyright 2022, Lorem ipsum dolor sit amet. All rights reserved.</small></p>
        <img class="footer-bottom__copyright-img" src="/images/footer/superheroes-logo.svg" alt="Logo">
    </section>
</footer>
</div>
</body>

</html>