<header id="header">
    <div class="wrapper-container">
        <div class="header-holder">
            <a class="header-holder__logo logo">
                <img src="images/header/logo-header.svg" alt="Welcome to the business forum lugano business forum"
                    aria-hidden="true">
            </a>
            <div class="drop-holld">
                <nav id="nav">
                    <div class="nav-drop">
                        <ul class="primary-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Program</a></li>
                            <li><a href="#">Speakers</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="select">
                    <span class="list">EN</span>
                    <ul class="items">
                        <li>UR</li>
                        <li>FR</li>
                    </ul>
                </div>
            </div>
            <a href="#ticket-section" class="header-holder__btn btn">Get ticket now</a>
            <a href="#" class="nav-opener"><span></span></a>
        </div>
    </div>
</header>