<header id="header">
    <!-- <div class="container"> -->
    <div class="wrapper-container">
        <div class="header-holder">
            <a class="header-holder__logo logo">
                <img src="images/header/logo-header.svg" alt="Welcome to the business forum lugano business forum"
                    aria-hidden="true">
            </a>
            <div class="drop-holld">
                <nav id="nav">
                    <div class="nav-drop">
                        <ul class="primary-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Program</a></li>
                            <li><a href="#">Speakers</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="select">
                    <span class="list">EN</span>
                    <ul class="items">
                        <li>UR</li>
                        <li>FR</li>
                    </ul>
                </div>
                <!-- <label for="select" class="select">
                    <input type="radio" name="list" value="not_changed" id="select">
                    <p class="items">
                        <input type="radio" name="list" value="first_value" id="list[0]">
                        <label for="list[0]">FR</label>
                        <input type="radio" name="list" value="second_value" id="list[1]">
                        <label for="list[1]">UK</label>
                        <input type="radio" name="list" value="second_value" id="list[2]">
                        <label for="list[2]">EN</label>
                        <span id="text">EN</span>
                    </p>
                </label> -->
            </div>
            <button class="header-holder__btn btn">Get ticket now</button>
            <a href="#" class="nav-opener"><span></span></a>
        </div>
    </div>
    <!-- </div> -->
</header>