<section class="lugano-busines-forum ">
	<img alt="7-8 May 2024 Palazzo dei Congressi, Lugano" src="/images/lugano-business-forum/bg-lugano-3840.jpg" srcset="/images/lugano-business-forum/mobile-lugano-bg.jpg 370w,
					/images/lugano-business-forum/mobile-lugano-bg.jpg 640w,
					/images/lugano-business-forum/bg-lugano-920.jpg 920w,
					/images/lugano-business-forum/bg-lugano-1220.jpg 1220w,
					/images/lugano-business-forum/bg-lugano-1920.jpg 1920w" sizes="
					 (max-width: 370px) 370w, 
						(max-width: 640px) 640w, 
						(max-width: 920px) 920w, 
						(max-width: 1220px) 1220w, 
						1920w" class="lugano-busines-forum__img">

	<div class="lugano-busines-forum__main container">

		<p class="lugano-busines-forum__info-text-blok">
			<small class="lugano-busines-forum__info-text-element">
				Inspire, Innovate: The Power of Business Excellence!
			</small>
		</p>
		<h2 class="lugano-busines-forum__title">
			LUGANO BUSINESS FORUM
		</h2>
		<div class="lugano-busines-forum__info-blok  ">
			<div class="lugano-busines-forum__info-element ">
				<time class="lugano-busines-forum__info-when">
					7-8 May 2024
				</time>
				<address class="lugano-busines-forum__info-place">
					Palazzo dei Congressi, Lugano
				</address>
			</div>
		</div>

		<button class="lugano-busines-forum__btn btn">Get ticket now</button>
	</div>




</section>