<section class="about-forum">
  <h2 class="about-forum">
    About
    <strong>Lugano</strong>
    <em>Business Forum</em>
  </h2>

  <p>
    During our two-day <em>world-class business conference</em>, we gather more
    than business leaders.
  </p>
  <p>
    Join us to improve your <em>leadership skills</em>, network with fellow
    <strong>C-level</strong> professionals, and create a memorable event that
    lasts!
  </p>
  <p>
    <img
      decoding="async"
      src="/images/about-business-forum/aboup-business-forum-bg.png"
      alt="Get ticket"
    />
    <img
      decoding="async"
      src="/images/about-business-forum/about-business-forum-arrow.svg"
      alt="Get ticket"
    />
    <img
      src="/images/about-business-forum/resirer-diskas.png"
      srcset="
        /images/about-business-forum/resirer-diskas-100.png  640w,
        /images/about-business-forum/resirer-diskas-200.png  920w,
        /images/about-business-forum/resirer-diskas-300.png 1220w,
        /images/about-business-forum/resirer-diskas.png     1920w
      "
      sizes="(max-width: 640px) 640w, 
					 (max-width: 920px) 920w, 
            (max-width: 1220px) 1220w, 
            1920w"
      alt="Join us to improve your leadership skills"
    />
    <img
      src="/images/about-business-forum/resirer-lisen.png"
      srcset="
        /images/about-business-forum/resirer-lisen-100.png  640w,
        /images/about-business-forum/resirer-lisen-200.png  920w,
        /images/about-business-forum/resirer-lisen-300.png 1220w,
        /images/about-business-forum/resirer-lisen.png     1920w
      "
      sizes="(max-width: 640px) 640w, 
					 (max-width: 920px) 920w, 
            (max-width: 1220px) 1220w, 
            1920w"
      alt="create a memorable event!"
    />
  </p>
</section>
