<section class="about-forum viewport-section">
  <div class="container">
    <div class="about-forum-holder">
      <div class="about-forum__hgroup">
        <h2>
          About <span>Lugano</span>
          Business Forum
        </h2>

        <p>
          <span>During our two-day world-class business conference, we gather more
            than business leaders.</span>

          <span>
            Join us to improve your leadership skills, network with fellow
            C-level professionals, and create a memorable event that lasts!
          </span>
        </p>
      </div>

      <div class="about-forum__images">
        <div class="about-forum__images-item-first">
          <img src="images/about-business-forum/men.jpg" alt="Business Forum" />
        </div>

        <div class="about-forum__images-item-first">
          <img src="images/about-business-forum/woman.jpg" alt="Business Forum" />
        </div>
      </div>
    </div>
  </div>
</section>