<section class="discover-power">
  <h2>
    Discover the Power of collaboration at the <strong>Lugano</strong>
    <em>Business Forum</em>
  </h2>
  <ul>
    <li><data value="2">2</data> <span>Days of the forum</span></li>
    <li><data value="100+">100+</data> <span>Speakers</span></li>
    <li><data value="30+">30+</data> <span>Topics for discussion</span></li>
    <li><data value="1000+">1000+</data> <span>Participants</span></li>
  </ul>
  <p>
    The <strong>Lugano</strong> <strong>Business Forum 2024</strong> is an
    exceptional gathering of entrepreneurs, industry leaders, policymakers, and
    innovators from around the world.
  </p>
  <p>
    This prestigious event aims to create an engaging platform for collaborative
    discussions, networking, and knowledge-sharing, focusing on unlocking
    opportunities for global growth.
  </p>
  <p>
    Participants will have the chance to explore <em>emerging trends</em>,
    engage in insightful conversations, and build
    <em>strategic partnerships</em> that will drive economic growth and
    innovation on a global scale.
  </p>
  <button class="btn">WATCH THE RECORDING</button>
  <img
    decoding="async"
    src="/images/discover-power/arrow.svg"
    alt="Get ticket"
  />
</section>
