<section class="was-before">

  <div class="container">
    <h2 class="was-before__title">AS it was <span>Before</span></h2>
  </div>

  <div class="owl-wrapp">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="images/was-before/was-men.jpg" alt="Business Forum" />
      </div>

      <div class="item">
        <img src="images/was-before/wemen.jpg" alt="Business Forum" />
      </div>

      <div class="item">
        <img src="images/was-before/meeteng.jpg" alt="11Business Forum" />
      </div>


      <div class="item">
        <img src="images/was-before/places.jpg" alt="Business Forum" />
      </div>

      <div class="item">
        <img src="images/was-before/meeteng-mean.jpg" alt="Business Forum" />
      </div>

    </div>

  </div>

</section>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel')
    owl.on('changed.owl.carousel', function (event) {
      var current = event.item.index
      var prev = $(event.target).find(".owl-item").eq(current - 1)

      $(".owl-item").removeClass("previous-active")
      prev.addClass("previous-active")
    })

    owl.on('changed.owl.carousel', function (event) {
      var current = event.item.index
      var prev = $(event.target).find(".owl-item").eq(current - 2)

      $(".owl-item").removeClass("previous-previous")
      prev.addClass("previous-previous")
    })
    owl.owlCarousel({
      loop: true,
      margin: 10,
      dots: false,
      // autoplay: true,
      // autoplaySpeed: 10,
      // smartSpeed: 700,
      // autoplayTimeout: 4000,
      responsive: {
        0: { items: 1 },
        370: { items: 1 },
        600: { items: 1 },
        960: { items: 4 },
        1200: { items: 5 }
      },
      center: true,
    })

    owl.on('mousewheel', '.owl-stage', function (e) {
      if (e.originalEvent.deltaY > 0) {
        owl.trigger('next.owl')
      } else {
        owl.trigger('prev.owl')
      }
      e.preventDefault()
    })



  });
</script>