<section class="was-before ">

  <div class="container">
    <h2 class="was-before__title">AS it was <span>Before</span></h2>
  </div>
  <div class="owl-wrapp">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="images/was-before/was-men.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/wemen.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng.jpg" alt="11Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/places.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng-mean.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/was-men.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/wemen.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng.jpg" alt="11Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/places.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng-mean.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/was-men.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/wemen.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng.jpg" alt="11Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/places.jpg" alt="Business Forum">
      </div>
      <div class="item">
        <img src="images/was-before/meeteng-mean.jpg" alt="Business Forum">
      </div>

    </div>


  </div>

</section>