<section class="discover-power ">

  <div class="container">
    <h2 class="discover-power__title ">
      Discover the Power of collaboration at the <span>Lugano</span>
      Business Forum
    </h2>
    <ul class="discover-power__info-list ">
      <li><data value="2">2</data> <span>Days of the forum</span></li>
      <li><data value="100+">100+</data> <span>Speakers</span></li>
      <li><data value="30+">30+</data> <span>Topics for discussion</span></li>
      <li><data value="1000+">1000+</data> <span>Participants</span></li>
    </ul>
    <p>
      The <strong>Lugano</strong> <strong>Business Forum 2024</strong> is an
      exceptional gathering of entrepreneurs, industry leaders, policymakers, and
      innovators from around the world.
    </p>
    <p>
      This prestigious event aims to create an engaging platform for collaborative
      discussions, networking, and knowledge-sharing, focusing on unlocking
      opportunities for global growth.
    </p>
    <p>
      Participants will have the chance to explore emerging trends,
      engage in insightful conversations, and build
      strategic partnerships that will drive economic growth and
      innovation on a global scale.
    </p>
    <a class="discover-power__btn btn" href="https://www.youtube.com/watch?v=HPkJ6tnhkMo&ab_channel=LuganoBusinessForum"
      target="_blank">WATCH THE RECORDING</a>
    <img class="discover-power__arrow-img  " decoding="async" src="images/discover-power/arrow.svg" alt="Get ticket" />
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dataElements = document.querySelectorAll('.discover-power__info-list data')
    function animateIfVisible() {
      dataElements.forEach(function (element) {
        var boundingRect = element.getBoundingClientRect()
        if (
          boundingRect.top >= 0 &&
          boundingRect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          !element.hasAttribute('data-animated')
        ) {
          var endValue = parseInt(element.getAttribute('value'))
          animateCount(element, 0, endValue, 2000)
          element.setAttribute('data-animated', 'true')
        }
      })
    }

    function animateCount(element, start, end, duration) {
      var startTime = new Date().getTime()
      var endTime = startTime + duration
      var now = startTime
      function update() {
        now = new Date().getTime()
        var progress = Math.min((now - startTime) / duration, 1)
        var currentCount = Math.floor(progress * (end - start) + start)
        element.textContent = currentCount > 0 ? currentCount + '+' : currentCount
        if (progress < 1) {
          requestAnimationFrame(update)
        }
      }
      update()
    }
    animateIfVisible()
    window.addEventListener('scroll', animateIfVisible)
  });
</script>