<section class="lugano-videos ">
  <div class="container">
    <h2 hidden>VIDEO</h2>
    <div class="video-wrapp">
      <span class="icon-microphone"> </span>
      <span class="bg"> </span>
      <span class="icon-play" hidden></span>

      <video id="luganoVideo" autoplay muted loop>
        <source src="images/video/file_example_MP4_480_1_5MG.mp4" type="video/mp4">
        <source src="images/video/file_example_MP4_640_3MG.mp4" type="video/mp4">
        <source src="images/video/file_example_MP4_1280_10MG.mp4" type="video/mp4">
        <source src="images/video/file_example_MP4_1920_18MG.mp4" type="video/mp4">
      </video>
    </div>
  </div>

</section>