<section class="meet-our-speakers">
  <h2>Meet our <strong>speakers</strong></h2>
  <p>
    Join us for an exclusive opportunity to hear from top industry experts and
    thought leaders in the different fields.
  </p>

  <article>
    <figure>
      <img
        src="/images/meet-our-speakers/dmytro-sidenko.png"
        alt="our speakers"
        title="Dmytro Sidenko"
      />
      <figcaption>
        <h2>Dmytro Sidenko</h2>
        <p>President of the USBA</p>
      </figcaption>
    </figure>
  </article>

  <article>
    <figure>
      <img
        src="/images/meet-our-speakers/michele-foletti.png"
        alt="our speakers"
        title="Michele Foletti"
      />
      <figcaption>
        <h2>Michele Foletti</h2>
        <p>Mayor of Lugano</p>
      </figcaption>
    </figure>
  </article>

  <article>
    <figure>
      <img
        src="/images/meet-our-speakers/dmytro-shymkiv.png"
        alt="our speakers"
        title="Dmytro Shymkiv"
      />
      <figcaption>
        <h2>Dmytro Shymkiv</h2>
        <p>
          Co-owner of AeroDrone, former head of Microsoft's Ukrainian office
        </p>
      </figcaption>
    </figure>
  </article>

  <article>
    <figure>
      <img
        src="/images/meet-our-speakers/sergiy-moliboh.png"
        alt="our speakers"
        title="Sergiy Moliboh"
      />
      <figcaption>
        <h2>Sergiy Moliboh</h2>
        <p>Partner at Angles AG | Partner at ICLUB Zurich</p>
      </figcaption>
    </figure>
  </article>

  <button class="btn">View all</button>
</section>
