<section class="lugano-videos ">
  <div class="container">
    <h2 hidden>VIDEO</h2>
    <div class="video-wrapp">
      <span class="icon-microphone"> </span>
      <span class="bg"> </span>
      <span class="icon-play" hidden></span>

      <video id="luganoVideo" autoplay muted loop>
        <source src="images/video/file_example_MP4_480_1_5MG.mp4" type="video/mp4" />
        <source src="images/video/file_example_MP4_640_3MG.mp4" type="video/mp4" />
        <source src="images/video/file_example_MP4_1280_10MG.mp4" type="video/mp4" />
        <source src="images/video/file_example_MP4_1920_18MG.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <script>
    var video = document.getElementById('luganoVideo')
    function updateVideoSource() {
      if (window.innerWidth <= 480) {
        video.src = 'images/video/file_example_MP4_480_1_5MG.mp4'
      } else if (window.innerWidth <= 1280) {
        video.src = 'images/video/file_example_MP4_640_3MG.mp4'
      } else if (window.innerWidth <= 1920) {
        video.src = 'images/video/file_example_MP4_1280_10MG.mp4'
      } else {
        video.src = 'images/video/file_example_MP4_1920_18MG.mp4'
      }
      video.play()
    }
    window.onload = updateVideoSource
    window.onresize = updateVideoSource;
  </script>
</section>
<script>
  $(document).ready(function () {
    $(".bg").click(function () {
      $(".icon-play, .icon-microphone").toggle()  // Переключаем атрибут hidden у элементов с классами "icon-play" и "icon-microphone"
    })
  });
</script>