<section class="meet-our-speakers viewport-section">
  <div class="container ">
    <h2 class="meet-our-speakers__title">Meet our <strong>speakers</strong></h2>
    <p>
      Join us for an exclusive opportunity to hear from top industry experts and
      thought leaders in the different fields.
    </p>
    <div class="meet-our-speakers__articles">
      <div class="coll">
        <a href="#">
          <article class="meet-our-speakers__article">
            <figure>
              <div class="article-visual"> <img src="images/meet-our-speakers/dmytro-sidenko.jpg" alt="our speakers"
                  title="Dmytro Sidenko" /></div>
              <figcaption>
                <h4>Dmytro Sidenko</h4>
                <span class="position">President of the USBA</span>
              </figcaption>
            </figure>
          </article>
        </a>
      </div>
      <div class="coll">
        <a href="#">
          <article class="meet-our-speakers__article">
            <figure>
              <div class="article-visual"> <img src="images/meet-our-speakers/michele-foletti.jpg" alt="our speakers"
                  title="Dmytro Sidenko" /></div>
              <figcaption>
                <h4>Dmytro Sidenko</h4>
                <span class="position">President of the USBA</span>
              </figcaption>
            </figure>
          </article>
        </a>
      </div>
      <div class="coll">
        <a href="#">
          <article class="meet-our-speakers__article">
            <figure>
              <div class="article-visual"> <img src="images/meet-our-speakers/dmytro-shymkiv.jpg" alt="our speakers"
                  title="Dmytro Sidenko" /></div>
              <figcaption>
                <h4>Dmytro Sidenko</h4>
                <span class="position">President of the USBA</span>
              </figcaption>
            </figure>
          </article>
        </a>
      </div>
      <div class="coll">
        <a href="#">
          <article class="meet-our-speakers__article">
            <figure>
              <div class="article-visual"> <img src="images/meet-our-speakers/sergiy-moliboh.jpg" alt="our speakers"
                  title="Dmytro Sidenko" /></div>
              <figcaption>
                <h4>Dmytro Sidenko</h4>
                <span class="position">President of the USBA</span>
              </figcaption>
            </figure>
          </article>
        </a>
      </div>
    </div>

    <div class="btn-wrap"><a href="#" class="btn">View all</a></div>
  </div>
</section>