<section>
  <h2>Conference schedule</h2>

  <p><data>Tuesday, 7 May</data><data>Wednesday, 8 May</data></p>

  <table>
    <tr>
      <td><time>10:00</time></td>
      <td>
        <strong>Registration</strong>
        <p>Session | 2 hours</p>
      </td>
      <td colspan="2"></td>
      <td></td>
    </tr>

    <tr>
      <td><time>12:00 </time></td>

      <td>
        <strong>Official opening. Welcome words</strong>
        <p>Session | 20 minutes</p>
      </td>

      <td>Main stage</td>

      <td>
        <article>
          <img
            src="/images/conference-schedule/dmutro-sidenko-icon-48-50.svg"
            alt="Speaker"
            title="Speaker"
          />
        </article>
        <article>
          <img
            src="/images/conference-schedule/michele-foletti-48-50.svg"
            alt="Speaker"
            title="Speaker"
          />
        </article>
      </td>
    </tr>

    <tr>
      <td><time>12:20 </time></td>
      <td><strong>Picture of the future</strong><br />Session | 10 minutes</td>
      <td>Main stage</td>
      <td>
        <article>
          <figure>
            <img
              src="/images/conference-schedule/michael-chobanian-48-50.svg"
              alt="our speakers"
              title="Sergiy Moliboh"
            />
            <figcaption>
              <h2>Sergiy Moliboh</h2>
              <p>Partner at Angles AG | Partner at ICLUB Zurich</p>
            </figcaption>
          </figure>
        </article>
      </td>
    </tr>
    <tr>
      <td><time>12:30 </time></td>
      <td>
        <p>
          Panel: <strong> Ukraine from inside and outside</strong>: actual view
          of Ukrainian economy in war situation and outlook for the future.
          <strong> Actual view of Ukrainian economy in war</strong>: current
          situation with economy and business.
        </p>
        <p>Session | 2 hours</p>
      </td>
      <td>Main stage</td>
      <td>
        <article>
          <img
            src="/images/conference-schedule/dmutro-sidenko-icon-48-50.svg"
            alt="Speaker"
            title="Speaker"
          />
        </article>
        <article>
          <img
            src="/images/conference-schedule/michele-foletti-48-50.svg"
            alt="Speaker"
            title="Speaker"
          />
        </article>
      </td>
    </tr>
  </table>

	<button class="btn">whatch full program</button>
</section>
