<section class="meet-our-speakers ">
  <div class="container ">
    <h2 class="meet-our-speakers__title">Meet our <strong>speakers</strong></h2>
    <p>
      Join us for an exclusive opportunity to hear from top industry experts and
      thought leaders in the different fields.
    </p>

    <div class="meet-our-speakers__articles">
      <div class="coll">
        <article class="meet-our-speakers__article">
          <figure>
            <div class="article-visual"> <img src="images/meet-our-speakers/dmytro-sidenko.jpg" alt="our speakers"
                title="Dmytro Sidenko" /></div>
            <figcaption>

              <h4>Dmytro Sidenko</h4>
              <span class="position">President of the USBA</span>

            </figcaption>
          </figure>
        </article>
      </div>
      <div class="coll">
        <article class="meet-our-speakers__article">
          <figure>
            <div class="article-visual"> <img src="images/meet-our-speakers/michele-foletti.jpg" alt="our speakers"
                title="Dmytro Sidenko" /></div>
            <figcaption>

              <h4>Dmytro Sidenko</h4>
              <span class="position">President of the USBA</span>

            </figcaption>
          </figure>
        </article>
      </div>
      <div class="coll">
        <article class="meet-our-speakers__article">
          <figure>
            <div class="article-visual"> <img src="images/meet-our-speakers/dmytro-shymkiv.jpg" alt="our speakers"
                title="Dmytro Sidenko" /></div>
            <figcaption>

              <h4>Dmytro Sidenko</h4>
              <span class="position">President of the USBA</span>

            </figcaption>
          </figure>
        </article>
      </div>
      <div class="coll">
        <article class="meet-our-speakers__article">
          <figure>
            <div class="article-visual"> <img src="images/meet-our-speakers/sergiy-moliboh.jpg" alt="our speakers"
                title="Dmytro Sidenko" /></div>
            <figcaption>

              <h4>Dmytro Sidenko</h4>
              <span class="position">President of the USBA</span>

            </figcaption>
          </figure>
        </article>
      </div>

      <!-- <article class="meet-our-speakers__article">
        <figure>
          <img src="images/meet-our-speakers/michele-foletti.png" alt="our speakers" title="Michele Foletti" />
          <figcaption>

            <h4>Michele Foletti</h4>
            <span>Mayor of Lugano</span>

          </figcaption>
        </figure>
      </article>

      <article class="meet-our-speakers__article">
        <figure>
          <img src="images/meet-our-speakers/dmytro-shymkiv.png" alt="our speakers" title="Dmytro Shymkiv" />
          <figcaption>

            <h4>Dmytro Shymkiv</h4>
            <span>Co-owner of AeroDrone, former head of Microsoft's Ukrainian office</span>

          </figcaption>
        </figure>
      </article>

      <article class="meet-our-speakers__article">
        <figure>
          <img src="images/meet-our-speakers/sergiy-moliboh.png" alt="our speakers" title="Sergiy Moliboh" />
          <figcaption>

            <h4>Sergiy Moliboh</h4>
            <span>Partner at Angles AG | Partner at ICLUB Zurich</span>

          </figcaption>
        </figure>
      </article> -->
    </div>

    <button class="btn">View all</button>
  </div>
</section>