<section class="meet-our-speakers container">
  <h2 class="meet-our-speakers__title">Meet our <strong>speakers</strong></h2>
  <p class="meet-our-speakers__descriptions">
    Join us for an exclusive opportunity to hear from top industry experts and
    thought leaders in the different fields.
  </p>

  <article class="meet-our-speakers__article">
    <figure>
      <img src="/images/meet-our-speakers/dmytro-sidenko.png" alt="our speakers" title="Dmytro Sidenko" />
      <figcaption>
        <dl>
          <dt>Dmytro Sidenko</dt>
          <dd>President of the USBA</dd>
        </dl>
      </figcaption>
    </figure>
  </article>

  <article class="meet-our-speakers__article">
    <figure>
      <img src="/images/meet-our-speakers/michele-foletti.png" alt="our speakers" title="Michele Foletti" />
      <figcaption>
        <dl>
          <dt>Michele Foletti</dt>
          <dd>Mayor of Lugano</dd>
        </dl>
      </figcaption>
    </figure>
  </article>

  <article class="meet-our-speakers__article">
    <figure>
      <img src="/images/meet-our-speakers/dmytro-shymkiv.png" alt="our speakers" title="Dmytro Shymkiv" />
      <figcaption>
        <dl>
          <dt>Dmytro Shymkiv</dt>
          <dd>Co-owner of AeroDrone, former head of Microsoft's Ukrainian office</dd>
        </dl>
      </figcaption>
    </figure>
  </article>

  <article class="meet-our-speakers__article">
    <figure>
      <img src="/images/meet-our-speakers/sergiy-moliboh.png" alt="our speakers" title="Sergiy Moliboh" />
      <figcaption>
        <dl>
          <dt>Sergiy Moliboh</dt>
          <dd>Partner at Angles AG | Partner at ICLUB Zurich</dd>
        </dl>
      </figcaption>
    </figure>
  </article>

  <button class="btn">View all</button>
</section>