<section class="tickes-pre-sale">
  <h2>get your ticket</h2>

  <p>
    <em>Take advantage of the <b>early-bird</b> discount!</em> Enter EarlyBirds
    in the special box for promo codesas you purchase your tickets and
    <strong>get 20% off</strong>
  </p>

  <article class="tickes-pre-sale__item">
    <h2>standart ticket</h2>
    <p><strong>500CHF</strong></p>
    <ul>
      <li>Possibility to attend the event for 2 days</li>
      <li>Access to all halls of the Forum</li>
      <li>Access to the networking zone</li>
      <li>Catering (within 2 days)</li>
      <li ><s>Fastpass at registration and to all halls</s></li>
      <li ><s>Access to the Forum's VIP areas</s></li>
      <li ><s>VIP Dinner Access</s></li>
    </ul>
    <button class="btn">get your ticket</button>
  </article>

  <article class="tickes-pre-sale__item">
    <h2><b>vip</b>-ticket</h2>
    <p><strong>1000CHF</strong></p>
    <ul>
      <li>Possibility to attend the event for 2 days</li>
      <li>Access to all halls of the Forum</li>
      <li>Access to the networking zone</li>
      <li>Catering (within 2 days)</li>
      <li>Fastpass at registration and to all halls</li>
      <li>Access to the Forum's VIP areas</li>
      <li>VIP Dinner Access</li>
    </ul>
    <button class="btn">get your ticket</button>
  </article>
</section>
