<section class="conference-schedule viewport-section">
  <div class="container">
    <h2 class="conference-schedule__title">Conference schedule</h2>

    <p class="conference-schedule__subtitle tabset-dotted desktop">
      <a class="tabs-link" href="#tab1-0"><data value="7">Tuesday, 7 May</data></a>
      <a class="tabs-link" href="#tab2-0"><data value="8">Wednesday, 8 May</data></a>
    </p>
    <p class="conference-schedule__subtitle tabset-dotted mobile">
      <a class="tabs-link" href="#tab3-0"><data value="7">Tuesday, 7 May</data></a>
      <a class="tabs-link" href="#tab4-0"><data value="8">Wednesday, 8 May</data></a>
    </p>

    <div class="tab-content">
      <table id="tab1-0" class="conference-schedule__table-block">
        <tbody>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>9:00</b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Registration</strong>
              <p>Session | 2 hours</p>
            </td>
            <td class="conference-schedule__table-column-status"></td>
            <td class="conference-schedule__table-column-participants"></td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>13:10 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Official opening. Welcome words</strong>
              <p>Session | 20 minutes</p>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants">
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                  title="Speaker">
              </article>
            </td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>14:30 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Picture of the future</strong>
              <p>Session | 10 minutes</p>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants">
              <figure>
                <img src="images/conference-schedule/michael-chobanian-48-50.svg" alt="our speakers"
                  title="Sergiy Moliboh">
                <figcaption>
                  <dl>
                    <dt>Michael Chobanian</dt>
                    <dd>Blockchain Association of Ukraine</dd>
                  </dl>
                </figcaption>
              </figure>
            </td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>12:30 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <p>
                Panel: <strong> Ukraine from inside and outside</strong>: actual
                view of Ukrainian economy in war situation and outlook for the
                future.
                <strong> Actual view of Ukrainian economy in war</strong>:
                current situation with economy and business.
              </p>
              <span>Session | 2 hours</span>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants last">
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speaker" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speaker"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speaker"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speaker"
                  title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speaker"
                  title="Speaker">
              </article>
            </td>
          </tr>
        </tbody>
      </table>

      <table id="tab2-0" class="conference-schedule__table-block">
        <tbody>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>10:00</b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Registration</strong>
              <p>Session | 2 hours</p>
            </td>
            <td class="conference-schedule__table-column-status"></td>
            <td class="conference-schedule__table-column-participants"></td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>12:00 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Official opening. Welcome words</strong>
              <p>Session | 20 minutes</p>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants">
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                  title="Speaker">
              </article>
            </td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>12:20 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <strong>Picture of the future</strong>
              <p>Session | 10 minutes</p>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants">
              <figure>
                <img src="images/conference-schedule/michael-chobanian-48-50.svg" alt="our speakers"
                  title="Sergiy Moliboh">
                <figcaption>
                  <dl>
                    <dt>Michael Chobanian</dt>
                    <dd>Blockchain Association of Ukraine</dd>
                  </dl>
                </figcaption>
              </figure>
            </td>
          </tr>
          <tr class="conference-schedule__table-column">
            <td class="conference-schedule__table-column-time">
              <b>12:30 </b>
            </td>
            <td class="conference-schedule__table-column-action">
              <p>
                Panel: <strong> Ukraine from inside and outside</strong>: actual
                view of Ukrainian economy in war situation and outlook for the
                future.
                <strong> Actual view of Ukrainian economy in war</strong>:
                current situation with economy and business.
              </p>
              <span>Session | 2 hours</span>
            </td>
            <td class="conference-schedule__table-column-status">
              <span class="triangle">Main stage</span>
            </td>
            <td class="conference-schedule__table-column-participants last">
              <article>
                <h2 hidden>Speaker</h2>
                <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speaker" title="Speaker">
              </article>
              <article>
                <h2 hidden>Speaker</h2>
                <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speaker"
                  title="Speaker">
              </article>
            </td>
          </tr>
        </tbody>
      </table>

      <table id="tab3-0" class="conference-schedule__table-block-mobile">
        <tbody>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>10:00</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Registration</h4>
                <p>Session | 2 hours</p>
              </section>
            </td>
          </tr>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>12:00</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Official opening. Welcome words</h4>
                <p>Session | 20 minutes</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>
              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
              </section>
            </td>
          </tr>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>12:20</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Picture of the future</h4>
                <p>Session | 10 minutes</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>
              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <figure>
                  <img src="images/conference-schedule/michael-chobanian-48-50.svg" alt="our speakers"
                    title="Sergiy Moliboh">
                  <figcaption>
                    <h4>Michael Chobanian</h4>
                    <p>Blockchain Association of Ukraine</p>
                  </figcaption>
                </figure>
              </section>
            </td>
          </tr>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>12:30</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>
                  Panel: Ukraine from inside and outside: actual view of
                  Ukrainian economy in war situation and outlook for the future.
                  Actual view of Ukrainian economy in war: current situation
                  with economy and business.
                </h4>
                <p>Session | 2 hours</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>
              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
              </section>
            </td>
          </tr>
        </tbody>
      </table>

      <table id="tab4-0" class="conference-schedule__table-block-mobile">
        <tbody>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>10:00</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Registration</h4>
                <p>Session | 2 hours</p>
              </section>
            </td>
          </tr>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>15:00</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Official opening. Welcome words</h4>
                <p>Session | 40 minutes</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>

              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
              </section>
            </td>
          </tr>

          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>17:20</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>Picture of the future</h4>
                <p>Session | 30 minutes</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>
              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <figure>
                  <img src="images/conference-schedule/michael-chobanian-48-50.svg" alt="our speakers"
                    title="Sergiy Moliboh">
                  <figcaption>
                    <h4>Michael Chobanian</h4>
                    <p>Blockchain Association of Ukraine</p>
                  </figcaption>
                </figure>
              </section>
            </td>
          </tr>
          <tr class="conference-schedule__mobile-column">
            <td class="conference-schedule__mobile-column-time">
              <b>17:30</b>
            </td>
            <td class="conference-schedule__mobile-column-action">
              <section class="registration-mobile">
                <h4>
                  Panel: Ukraine from inside and outside: actual view of
                  Ukrainian economy in war situation and outlook for the future.
                  Actual view of Ukrainian economy in war: current situation
                  with economy and business.
                </h4>
                <p>Session | 2 hours</p>
              </section>
              <section class="status-mobile">
                <h4>Main stage</h4>
              </section>
              <section class="participants-mobile">
                <h2 hidden>conference speakers</h2>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img src="images/conference-schedule/dmutro-sidenko-icon-48-50.svg" alt="Speakers" title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
                <article>
                  <h2 hidden>Speaker</h2>
                  <img class="second" src="images/conference-schedule/michele-foletti-48-50.svg" alt="Speakers"
                    title="Speaker">
                </article>
              </section>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn">whatch full program</button>
  </div>
</section>