<footer>
    <section class="top-left">
        <h3 hidden>Have any questions?</h3>
        <address>
            <h4>THE CONFERENCE WILL TAKE PLACE AT</h4>
            <p>Palazzo dei Congressi, Piazza Indipendenza 4 6900 Lugano</p>
            <h4>You can always write to us</h4>
            <a href="mailto:info@luganobusinessforum.ch">info@luganobusinessforum.ch</a>
        </address>
        <nav class="social">
            <h4>FOLLOW US</h4>
            <a href="https://www.linkedin.com/">
                <img src="/images/footer/l-logo.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/">
                <img src="/images/footer/f-logo.svg" alt="Facebook"></a>
        </nav>
        <section class="press">
            <button type="button">Press Kit</button>
        </section>
    </section>

    <section class="top-right">
        <h3>Have any questions?</h3>
        <form>
            <p>
                <label for="email">Your email</label>
                <input type="email" id="email" name="email" value="loremipsum@gmail.com">
            </p>
            <p>
                <label for="question">Your question</label>
                <input type="text" id="question" name="question" placeholder="What i.....?">
            </p>
            <p>
                <input type="checkbox" id="agree" name="agree">
                <label for="agree">I agree to the processing of my personal data</label>
            </p>
            <button type="submit">SEND</button>
        </form>
    </section>
    <section class="bottom">
        <h3 hidden>Have any questions?</h3>
        <p>Privacy Policy</p>
        <p>© Copyright 2022, Lorem ipsum dolor sit amet. All rights reserved.</p>
        <img src="/images/footer/superheroes-logo.svg" alt="Logo">
    </section>
</footer>
</div>
</body>

</html>