.join-our {
  padding: 33px 0;
  margin: 0 0 0 0;
  background-color: #161616;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-bottom: 44px;

  @include media('≥tablet') {
    margin-bottom: 74px;
    padding: 0;
    min-height: 697px;
  }
  .container {
    display: flex;

    flex-direction: column;
    @include media('≥tablet') {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 8%;
    }

    @include media('≥desktop') {
      gap: 125px;
    }

    .join-our__form {
      opacity: 0;
      transform: translateY(30px);
      transition: all $animation-speed;
    }
  }

  &__description {
    padding: 25px 15px;
    margin: 0 0 44px 0;
    width: 100%;
    min-height: 313px;
    background-color: #ff7701;
    -webkit-clip-path: polygon(77% 0, 100% 23%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(77% 0, 100% 23%, 100% 100%, 0 100%, 0 0);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 56px;
    .checkbox-custom {
      cursor: pointer;
    }

    @include media('≥tablet') {
      margin: 0 0 0 0;
      gap: 107px;
      min-height: 518px;
      padding: 60px;
      width: 50%;
    }
    .join-our__description-h {
      opacity: 0;
      transform: translateX(-30px);
      transition: all $animation-speed;
    }
    .join-our__description-p {
      opacity: 0;
      transform: translateX(30px);
      transition: all $animation-speed;
    }
  }

  &__description::before {
    content: '';
    width: 99%;
    min-height: 99%;
    top: 2px;
    left: 2px;
    background-color: #161616;
    -webkit-clip-path: polygon(77% 0, 100% 23%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(77% 0, 100% 23%, 100% 100%, 0 100%, 0 0);
    z-index: 0;
    position: absolute;
  }

  &__description-h {
    position: relative;
    color: #ff7701;
    font-size: 36px;
    line-height: 43px;
    font-family: $base-font-1;
    font-weight: 900;
    z-index: 2;
    max-width: 410px;
    text-transform: uppercase;

    @include media('≥desktop') {
      line-height: 60px;
      font-size: 50px;
    }
  }

  &__description-p {
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 19px;
    z-index: 2;

    @include media('≥tablet') {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &.in-viewport {
    .join-our__form {
      opacity: 1;
      transform: translate(0);
    }
    .join-our__description-h {
      opacity: 1;
      transform: translate(0);
    }
    .join-our__description-p {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.join-our {
  .container {
    .footer-top-right {
      width: 100%;

      @include media('≥tablet') {
        width: 40%;
      }

      img {
        position: relative;
        top: -65px;
        left: 80%;
        margin-bottom: 23px;
        display: none;

        @include media('≥widescreen') {
          display: block;
        }
      }
    }
  }
}
.checkbox-custom {
  cursor: pointer;
}
