.ticker-tape {
  margin-bottom: 46px;

  @include media('≥widescreen') {
    margin-bottom: 132px;
  }

  &__red-block {
    position: relative;
    z-index: 2;
    height: 33px;
    background-color: #ff7701;

    @include media('≥tablet') {
      height: 124px;
      padding-top: 31px;
    }
  }

  &__red-item {
    display: inline-block;
    margin-right: 4%;
    position: relative;
    left: -80%;

    @include media('≥tablet') {
      margin-right: 30%;
    }
  }

  &__red-titlegroup {
    position: relative;
    display: inline-block;
    margin-right: 16px;

    strong {
      width: 48px;
      height: 19px;
      background-color: #161616;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 79% 65%, 0 65%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 95% 65%, 0 65%);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media('≥tablet') {
        width: 168px;
        height: 52px;
      }

      span {
        color: #ffffff;
        padding-bottom: 8px;
        font-weight: 900;
        font-size: 9px;
        font-family: $base-font-1;

        @include media('≥tablet') {
          padding-bottom: 17px;
          font-size: 30px;
          line-height: 27px;
        }
      }
    }

    b {
      position: absolute;
      top: 14px;
      right: 4px;
      font-size: 4px;

      @include media('≥tablet') {
        font-size: 7px;
        right: 10px;
        top: 34px;
        font-size: 16px;
      }
    }
  }

  &__red-data {
    display: inline-block;

    em {
      color: #161616;
      font-family: $base-font-1;
      font-weight: 900;
      line-height: 120%;
      position: relative;
      text-transform: uppercase;
      font-size: 9px;
      top: 5px;
      right: 16px;

      @include media('≥tablet') {
        top: 14px;
        font-size: 30px;
      }
    }
  }

  &__black-block {
    position: relative;
    z-index: 2;
    height: 33px;
    background-color: #000000;

    @include media('≥tablet') {
      top: 26px;
      height: 124px;
      padding-top: 31px;
    }
  }

  &__black-item {
    display: inline-block;
    margin-right: 4%;
    position: relative;
    left: -80%;

    @include media('≥tablet') {
      margin-right: 30%;
    }
  }

  &__black-titlegroup {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    strong {
      width: 48px;
      height: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      background-color: #ff7701;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 79% 65%, 0 65%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 95% 65%, 0 65%);

      @include media('≥tablet') {
        width: 168px;
        height: 52px;
      }

      span {
        color: #ffffff;
        padding-bottom: 8px;
        font-weight: 900;
        font-size: 9px;
        font-family: $base-font-1;

        @include media('≥tablet') {
          padding-bottom: 17px;
          font-size: 30px;
          line-height: 27px;
        }
      }
    }

    b {
      position: absolute;
      top: 14px;
      right: 4px;
      font-size: 4px;
      color: #ffffff;

      @include media('≥tablet') {
        font-size: 7px;
        right: 10px;
        top: 34px;
        font-size: 16px;
      }
    }
  }

  &__black-data {
    display: inline-block;

    em {
      color: #ffffff;
      font-family: $base-font-1;
      font-weight: 800;
      font-size: 9px;
      line-height: 120%;
      position: relative;
      top: 4px;
      text-transform: uppercase;

      @include media('≥tablet') {
        font-size: 30px;
      }
    }
  }
}
