.ticker-tape {
  margin-bottom: 104px;

  @include media('≥desktop') {
    margin-bottom: 83px;
  }
  .line-box {
    &:first-child {
      transform: rotate(2deg) scaleX(-1) scaleY(1) rotateX(2deg);
      .mask {
        p {
          span {
            &:first-child {
              strong {
                direction: rtl;
                transform: scaleX(-1);
              }
              b {
                transform: scaleX(-1);
                direction: rtl;
              }
            }
            &:nth-child(2) {
              direction: rtl;
              transform: scaleX(-1);
              > em {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                gap: 8px;
              }
            }
          }
        }
      }
    }
    &:nth-child(2) {
      transform: rotate(-2deg);
      > .mask {
        > .line {
          background: black !important;
          p {
            color: #ffffff;
            strong {
              background-color: #ff7701 !important;
              &:after {
                border-color: #ff7701 transparent transparent transparent !important;
              }
            }
          }
        }
      }
    }
  }
  .line-box {
    margin: 0 auto;
    width: 1488px;
  }

  .line-box .mask {
    overflow: hidden;
    &:first-child {
      margin-bottom: -35px;
      @include media('≥tablet') {
        margin-bottom: 29px;
      }
      .line {
        background-color: #ff7701;
        p {
          strong {
            background-color: #161616;
            &:after {
              border-color: #161616 transparent transparent transparent;
            }
          }
        }
      }
    }
  }

  .line-box {
    .line {
      display: flex !important;
      align-items: center;
      width: 9999px;
      gap: 40px;
      padding-top: 8px;
      padding-bottom: 8px;

      @include media('≥tablet') {
        gap: 40px;
        padding-top: 22px;
        padding-bottom: 22px;
      }
      @include media('≥desktop') {
        gap: 27px;
        padding-top: 33px;
        padding-bottom: 33px;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        > :first-child {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 1px;

          strong {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 2px;
            font-family: $base-font-1;
            line-height: 12px;
            width: 70px;
            height: 12px;
            font-size: 9px;

            @include media('≥tablet') {
              font-size: 20px;
              width: 130px;
              height: 29px;
            }
            @include media('≥desktop') {
              font-size: 30px;
              width: 168px;
              height: 37px;
            }

            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 100%;
              border-style: solid;
              transform: rotate(0deg);
              border-width: 5px 0px 0 5px;
            }
          }

          b {
            font-size: 5px;

            @include media('≥tablet') {
              font-size: 12px;
            }

            @include media('≥desktop') {
              font-size: 16px;
            }
          }
        }

        > :nth-child(2) {
          @include media('≥tablet') {
            min-width: 190px;
          }
          @include media('≥desktop') {
            min-width: 245px;
          }

          em {
            font-family: $base-font-1;
            font-style: normal;
            font-weight: 800;
            line-height: 120%;
            text-transform: uppercase;
            font-size: 10px;

            @include media('≥tablet') {
              font-size: 20px;
            }
            @include media('≥desktop') {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
