.ticker-tape {
	margin-bottom: 144px;
  &__red-block {
    position: relative;
    padding-top: 40px;
    z-index: 2;
    height: 124px;
    background-color: #ff7701;
  }

  &__red-item {
    display: inline-block;
    margin-right: 30%;
		position: relative;
		left: -80%; 
  }

  &__red-titlegroup {
    position: relative;
    display: inline-block;
    margin-right: 16px;

    strong {
      width: 168px;
      height: 52px;

      background-color: #161616;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 79% 65%, 0 65%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 95% 65%, 0 65%);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #ffffff;
        padding-bottom: 17px;
        line-height: 27px;
        font-family: $base-font-1;
        font-weight: 900;
        font-size: 30px;
      }
    }

    b {
      position: absolute;
      top: 34px;
      right: 21px;
      font-size: 13px;
    }
  }

  &__red-data {
    display: inline-block;

    em {
      color: #161616;
      font-family: $base-font-1;
      font-weight: 900;
      font-size: 30px;
      line-height: 120%;
    }
  }

 
  &__black-block {
    position: relative;
    z-index: 1;
    color: #ffffff;
    background-color: #000000;
    padding-top: 40px;
    height: 124px;
  }

  &__black-item {
    display: inline-block;
    margin-right: 30%;
		position: relative;
		left: -40%; 
  }

  &__black-titlegroup {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    strong {
      width: 168px;
      height: 52px;
      background-color: #ff7701;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 79% 65%, 0 65%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 95% 65%, 0 65%);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #ffffff;
        padding-bottom: 17px;
        line-height: 27px;
        font-family: $base-font-1;
        font-weight: 900;
        font-size: 30px;
      }
    }

    b {
      position: absolute;
      top: 34px;
      right: 21px;
      font-size: 13px;
    }
  }

  &__black-data {
    display: inline-block;

    em {
      color: #ffffff;
      font-family: $base-font-1;
      font-weight: 800;
      font-size: 30px;
      line-height: 120%;
    }
  }
}
