.container {
}
.sponsors {
  margin-bottom: 62px;

  @include media('≥tablet') {
    margin-bottom: 80px;
  }

  &__articles {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    @include media('≥tablet') {
      flex-direction: row;
    }

    li {
      padding: 0;
      @include media('≥tablet') {
        padding: 36px;
      }
    }

    > li {
      position: relative;
      width: 100%;
      > .sponsors__article {
        &:before {
          content: '';
          position: absolute;
          top: 8px;
          bottom: 8px;
          width: 1px;
          left: 0;
          background: rgba(228, 228, 228, 1);
        }
      }

      @include media('≥tablet') {
        width: 50%;
      }

      @include media('≥desktop') {
        width: 50%;
      }

      @include media('≥tablet', '<desktop') {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          > .sponsors__article {
            &:after {
              content: '';
              position: absolute;
              top: 0;
              height: 1px;
              left: 8px;
              right: 8px;
              background: rgba(228, 228, 228, 1);
            }
          }
        }
        &:nth-child(3n + 1) {
          > .sponsors__article {
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              bottom: 8px;
              width: 1px;
              left: 0;
              background: rgba(228, 228, 228, 1);
            }
          }
        }
      }

      @include media('≥desktop') {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          > .sponsors__article {
            &:after {
              content: '';
              position: absolute;
              top: 0;
              height: 1px;
              left: 8px;
              right: 8px;
              background: rgba(228, 228, 228, 1);
            }
          }
        }

        &:nth-child(3n + 1) {
          > .sponsors__article {
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              bottom: 8px;
              width: 1px;
              left: 0;
              background: rgba(228, 228, 228, 1);
            }
          }
        }
      }

      @include media('<tablet') {
        &:nth-child(1),
        &:nth-child(2) {
          > .sponsors__article {
            &:after {
              content: '';
              position: absolute;
              top: 0;
              height: 1px;
              left: 8px;
              right: 8px;
              background: rgba(228, 228, 228, 1);
            }
          }
        }

        &:nth-child(3n + 1) {
          > .sponsors__article {
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              bottom: 8px;
              width: 1px;
              left: 0;
              background: rgba(228, 228, 228, 1);
            }
          }
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        background: rgba(228, 228, 228, 1);
      }

      &:after {
        bottom: 0;
        left: 8px;
        right: 8px;
        height: 1px;
      }
      &:before {
        top: 8px;
        bottom: 8px;
        right: 0;
        width: 1px;
      }
    }
  }
  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__article-img {
    width: 50%;

    margin-bottom: 0px;
    padding-top: 25px;

    @include media('≥tablet') {
      margin-bottom: 28px;
      padding-top: 46px;
    }
  }
  &__article-p {
    line-height: 140%;
    font-size: 14px;
    max-width: 330px;
    padding: 10px 32px 25px 32px;
    margin-bottom: -21px;

    @include media('≥tablet') {
      font-size: 16px;
      margin-bottom: 25px;
      padding: 0;
    }
    strong {
      font-weight: normal;
      color: inherit;
    }
  }
  &__title {
    text-transform: uppercase;
    max-width: 330px;
    grid-area: title;
    justify-self: start;
    font-size: 36px;
    font-family: $base-font-1;
    font-weight: 900;
    margin-bottom: 24px;
    @include media('≥tablet') {
      margin-bottom: 60px;

      font-size: 50px;
      text-transform: uppercase;
    }
  }
}
