.see-at-lugano {
  position: relative;
  min-height: 390px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media('≥tablet') {
    min-height: 332px;
  }

  @include media('≥desktop') {
    min-height: 378px;
  }

  @include media('≥widescreen') {
    min-height: 450px;
    margin-bottom: 83px;
  }

  .container {
    padding-left: 16px;
    text-align: center;
    @include media('≥tablet') {
      padding-left: 149px;
    }
  }
  img {
    width: 100%;
    position: absolute;
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    top: 0;
    left: 0;
    filter: grayscale(100%) brightness(0.7) blur(1px);
  }
  &__hgroup {
    display: grid;
    grid-template-columns: 40% 49%;
    grid-template-rows: 47% 56%;
    grid-template-areas:
      'title title'
      ' ark1 ark2';
    align-items: center;

    h2 {
      position: relative;
      grid-area: title;
      color: #ffffff;
      font-size: 41px;
      font-family: $base-font-1;
      font-weight: 900;
      text-transform: uppercase;
      justify-self: start;
      align-self: self-end;

      @include media('≥phone') {
        font-size: 67px;
      }

      @include media('≥tablet') {
        font-size: 70px;
      }

      @include media('≥desktop') {
        font-size: 90px;
      }

      @include media('≥widescreen') {
        font-size: 120px;
      }
    }

    .see-at-lugano__hgroup-p {
      grid-area: ark2;
      width: 202px;
      height: 63px;
      background-color: #ff7701;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 79% 65%, 0 65%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 92% 65%, 0 65%);
      font-family: $base-font-1;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffffff;
      padding-right: 40px;
      padding-left: 40px;
      text-align: center;
      justify-self: end;
      margin-bottom: 10px;
      font-size: 35px;

      @include media('≥tablet') {
        width: 410px;
        font-size: 39px;
      }
      @include media('≥desktop') {
        height: 157px;
        font-size: 82px;
      }

      @include media('≥widescreen') {
        font-size: 110px;
        width: 590px;
        height: 194px;
      }

      mark {
        text-transform: uppercase;
        background-color: transparent;
        color: #ffffff;
      }
    }

    .see-at-lugano__hgroup-pp {
      grid-area: ark2;
      font-size: 15px;
      position: relative;
      color: #ffffff;
      top: 18px;
      font-weight: 700;
      left: 3px;
      text-transform: uppercase;

      @include media('≥tablet') {
        font-size: 29px;
        top: 36px;
        left: 14px;
      }

      @include media('≥widescreen') {
        font-size: 50px;
        top: 63px;
        left: -35px;
      }
    }
  }
}
