.btn-latest {
  width: 100%;
  text-align: center;
  .btn {
    font-family: $base-font-1;
    min-width: 220px;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    color: #ff7701;
    text-transform: uppercase;
    &:hover {
      color: #ffffff;
    }

    @include media('≥tablet') {
      font-size: 20px;
      min-width: 309px;
    }
  }
}
.latest-articles {
  &__article {
    width: 100%;
    @include media('≥tablet') {
      width: calc((100% / 2) - 10px);
    }
  }
  &__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    @include media('≥tablet') {
      margin-bottom: 60px;
    }
  }
}
.latest-articles__article {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.latest-articles__article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
}
.latest-articles__link {
  transition: color 0.3s ease;
}

.latest-articles__link:hover {
  color: #007bff;
}

.latest-articles {
  margin-bottom: 57px;

  @include media('≥tablet') {
    margin-bottom: 82px;
  }

  article {
    border: 0.5px solid #ff7701;
    padding: 9px;

    @include media('≥tablet') {
      padding: 20px;
    }

    figure {
      margin: 0 0 0 0;
    }
  }

  &__figure {
    display: grid;
    grid-template-columns: 29% 1fr;
    column-gap: 11px;
    // row-gap: 7px;
    @include media('≥tablet') {
      gap: 15px;
      grid-template-columns: 35% 1fr;
    }
  }

  &__figure-img {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 100%;
    position: relative;
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    top: 0;
    left: 0;

    @include media('≥tablet') {
      grid-column: 1 / 1;
      grid-row: 1 / span 3;
    }
  }

  &__figure-time {
    grid-column: 2 / 3;
    color: #727981;
    font-size: 14px;
    line-height: 23px;

    @include media('≥tablet') {
      font-size: 16px;
    }
  }

  &__figure-p {
    grid-column: 1 / 3;
    font-size: 14px;
    line-height: 24px;
    color: #161616;
    @include media('≥tablet') {
      grid-column: 2 / 3;
      font-size: 16px;
    }
  }

  &__figure-figcaption {
    grid-column: 2 / 3;

    font-weight: 600;
    font-size: 16px;
    @include media('≥tablet') {
      font-size: 18px;
    }
  }

  &__title {
    grid-area: title;
    font-size: 36px;
    font-family: $base-font-1;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 50%;

    @include media('≥tablet') {
      margin-bottom: 61px;
      font-size: 50px;
      width: 100%;
    }
  }

  &__link {
    color: #ff7701;
    font-size: 16px;
    font-weight: 700;
  }
}
