.latest-articles {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 20px 1fr; 
  grid-template-rows: 123px 190px 20px 190px 124px;
  grid-template-areas:
    'title         title   title'
    'article1      w2      article2'
    'l1            l2      l3'
    'article3      k2      article4'
    'ppb           ppb     ppb';
  
  &__article1 {
    grid-area: article1;
  }

  &__article2 {
    grid-area: article2;
  }

  &__article3 {
    grid-area: article3;
  }

  &__article4 {
    grid-area: article4;
  }

  article {
    border: 0.5px solid #ff7701;
    padding: 20px;

    figure {
      margin: 0 0 0 0;
    }
  }

  &__figure {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 15px;
  }

  &__figure-img {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    height: 100%;
  }

  &__figure-time {
    grid-column: 2 / 3;
    color: #727981;
    font-size: 16px;
  }

  &__figure-p {
    grid-column: 2 / 3;
    font-size: 16px;
    color: #161616;
  }

  &__figure-figcaption {
    grid-column: 2 / 3;
    font-size: 18px;
    font-weight: 600;
  }

  &__title {
    grid-area: title;
    font-size: 50px;
    font-family: $base-font-1;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__btn {
    grid-area: ppb;
    align-self: self-end;
    width: 309px;
    height: 64px;
    color: #ff7701;
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    color: #ff7701;
    font-size: 16px;
    font-weight: 700;
  }
}
