.btn {
}
.lugano-busines-forum {
  position: relative;
  z-index: -0;
	padding: 0  95px 0 95px;
	margin-bottom: 706px;
  &__btn {
		position: absolute;
		top: 116px;
    left: 100;

    z-index: 0;
  }
  &__img {
		position: absolute;
		top: -130px;
    left: 0;
    z-index: -1;
    // width: 100%;
    // height: 100%;
    // object-fit: cover; 
    // opacity: 0.5; 
  }
  &__info {
		position: absolute;
		top: 116px;
    left: 0;

    z-index: 0;
 

  }
  &__info-place {
		position: absolute;
		top: 116px;
    left: 0;

    z-index: 0;
  }
  &__info-text {
		position: absolute;
		top: 116px;
    left: 0;
    z-index: 0;
		
  }
  &__info-when {
		position: absolute;
		top: 116px;
    left: 0;

    z-index: 0;
  }
  &__title {
		margin-bottom: 0;
  }
}
#main{
// padding-top: 700px;
}
.images{

}