.about-forum {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 60px 0;

  @include media('≥tablet') {
    margin: 0 0 90px 0;
    flex-direction: row;
  }

  &__hgroup {
    position: relative;
    clip-path: polygon(100% 0, 104% 89%, 95% 101%, 0 100%, 0 0);
    background-color: #ffffff;
    padding: 29px 23px 41px 20px;
    margin: 0 -20px 9px;
    opacity: 0;
    transform: translateX(60px);
    transition: all $animation-speed;

    @include media('≥tablet') {
      padding: 42px 139px 40px 40px;
    }

    @include media('≥desktop') {
      padding: 42px 50px 40px 20px;
      width: 45.5%;
    }

    @include media('≥widescreen') {
      margin: 0 -20px 0;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/about-business-forum/about-business-forum-arrow.svg');
      background-size: contain;
      z-index: 2;
      background-repeat: no-repeat;
      top: 26.2%;
      right: 16%;
      width: 40.8px;
      height: 43.8px;
      @include media('≥apple') {
        top: 8.2%;
        right: 4%;
      }
      @include media('≥phone') {
        top: 26.2%;
        right: 16%;
      }
      @include media('≥tablet') {
        top: 7.5%;
        right: 7.5%;
        width: 48.8px;
        height: 48.8px;
      }
    }

    h2 {
      text-transform: uppercase;
      font-family: $base-font-1;
      font-weight: 900;
      font-size: 36px;
      line-height: 36px;
      padding: 0 13px 0 0;
      margin: 0 0 33px 0;

      @include media('≥phone') {
        max-width: 481px;
      }
      @include media('≥tablet') {
        line-height: 50px;
        font-size: 50px;
        margin: 0 0 15px 0;
      }

      @include media('≥desktop') {
        margin: 0 0 56px 0;
      }

      @include media('≥widescreen') {
        padding: 0 82px 0 0;
      }

      span {
        color: #ff7701;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      line-height: 21px;
      flex-direction: column;
      gap: 20px;

      @include media('≥tablet') {
        line-height: 27px;
        font-size: 20px;
      }

      @include media('≥desktop') {
        width: 475px;
      }

      @include media('≥widescreen') {
        width: 500px;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: center;

    @include media('≥desktop') {
      justify-content: space-between;
      width: 55.5%;
    }
  }

  &__images-item-first {
    position: relative;
    clip-path: polygon(8% 0, 100% 0%, 100% 91.4%, 89% 100%, 0% 100%, 8% 94%);
    margin: 0 -9px 0 0;
    width: 50%;
    min-height: 270px;

    opacity: 0;
    transform: translateY(30px) translateX(30px);
    transition: all $animation-speed;

    @include media('≥phone') {
      min-height: 400px;
    }

    @include media('≥tablet') {
      width: 354px;
      height: 520px;
    }

    img {
      position: absolute;
      top: -24px;
      left: 26px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);

      @include media('≥tablet') {
        transform: scale(1.2);
        top: -45px;
        left: 25px;
      }
    }
  }
  &.in-viewport {
    .about-forum__images-item-first,
    .about-forum__hgroup {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.about-forum-holder {
  position: relative;

  @include media('≥desktop') {
    display: flex;
    justify-content: space-between;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100vw;
    background-color: #ffffff;
    z-index: 3;
  }
}
