.was-before {
	padding: 453px 0 0 0;
	&__title {
		font-size: 50px;
		font-family: 'Mulish-Black';
		text-transform: uppercase;
		strong {
			color: #FF5E00;
		}
	}

	&__slider-block {
	margin: 0 0 0 0;
padding: 30px 000;
display: flex;
}

	&__slider-item {
	
	
	}

}
.first {
	width: 200px; 
  height: 360px; 
  overflow: hidden; 
	img{
	  width: 600px; 
  height: 400px; 
  margin-left: -200px; 
  margin-top: -20px;
	}

}

.second {

}

.third {}

.fifth {}


.fourth {}