.owl-stage {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.was-before {
  // max-width: 1488px;
  width: 100% !important;
  margin: 0 auto;

  .container {
    margin: 0 auto;
  }
  .owl-carousel {
    width: 100% !important;
  }
}
.owl-stage-outer {
  max-width: 1488px !important;
  margin: 0 auto !important;
}

.owl-stage {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}
.owl-wrapp {
  max-width: 1488px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.was-before {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 73px;

  &__title {
    line-height: 38px;
    margin: 0px 0 13px 0;
    font-size: 36px;
    font-family: $base-font-1;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;

    @include media('≥phone') {
      margin: 0px 0 64px 0;
      display: block;
      font-size: 50px;
    }

    span {
      color: #ff7701;
    }
  }
  .container {
    margin: 0;
    @include media('≥tablet') {
      margin: 0 auto;
    }
  }
}
.previous-active,
.previous-active .active {
  height: 215px !important;
  width: 108px !important;

  @include media('≥tablet') {
    height: 400px !important;
    width: 200px !important;
  }
}

.owl-item.center.active + .owl-item {
  height: 215px !important;
  width: 108px !important;

  @include media('≥tablet') {
    height: 400px !important;
    width: 200px !important;
  }
}
.owl-item.center.active + .owl-item + .owl-item {
  height: 180px !important;
  width: 108px !important;

  @include media('≥tablet') {
    height: 360px !important;
    width: 200px !important;
  }
}
.previous-previous {
  height: 180px !important;
  width: 108px !important;

  @include media('≥tablet') {
    height: 360px !important;
    width: 200px !important;
  }
}

.owl-item.center.active {
  transition: height 2s ease, min-width 2s ease;
  transition-delay: 1s;
  height: 235px;
  min-width: 320px;

  img {
    transition: filter 0.5s ease;
    filter: grayscale(0%);
  }

  @include media('≥tablet') {
    min-height: 440px;
    min-width: 600px;
  }
}

.item {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  img {
    position: absolute;
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    top: 0;
    left: 0;
    filter: grayscale(100%);
  }
}
