.discover-power {
  position: relative;
  background-color: #161616;

  padding: 30px 0 0 0;
  position: relative;
  text-align: left;
  color: #ffffff;

  @include media('≥tablet') {
    padding: 80px 0 61px 0;
  }

  &__title {
    font-family: $base-font-1;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    @include media('≥tablet') {
      margin: 0 0 44px 0;
      font-size: 50px;
    }

    @include media('≥desktop') {
      max-width: 70%;
      padding: 0 0 0 0;
    }

    span {
      color: #ff7701;
    }
  }

  ul {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 1px;
      height: 100%;
      background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 17px,
        #2d2d2d 0,
        #2d2d2d 48%
      );
    }
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      background: #2d2d2d;
      height: 1px;
      width: 100%;
    }
  }
  @include media('≥desktop') {
    ul {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }

  &__info-list {
    display: flex;
    margin-bottom: 28px;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
    padding: 4px 0 4px 0;

    justify-content: center;
    flex-wrap: wrap;
    @include media('≥tablet') {
      margin-bottom: 66px;
    }

    @include media('≥desktop') {
      flex-wrap: nowrap;
    }

    li {
      min-height: 120px;

      align-items: flex-start;
      justify-content: flex-start;
      min-width: 165px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px 0 0 5px;

      @include media('≥phone') {
        min-height: 185px;
        justify-content: center;
        padding: 20px 30px;
        min-width: 215px;
      }
      @include media('≥samsung') {
        min-width: 243px;
      }

      @include media('≥tablet') {
        min-width: 320px;
      }
      @include media('≥desktop') {
        border-right: 1px solid #2d2d2d;

        min-width: 200px;
      }

      @include media('≥widescreen') {
        align-items: flex-start;
        min-width: 287px;
      }

      data {
        font-family: $base-font-1;
        font-weight: 900;
        font-style: normal;
        font-size: 55px;
        line-height: 100%;
        text-transform: uppercase;
        color: #ff7701;

        @include media('≥tablet') {
          font-size: 72px;
        }
      }

      span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;

        @include media('≥tablet') {
          font-size: 20px;
        }
      }
    }

    li:first-child {
      border-left: none;
    }

    li:last-child {
      border-right: none;
    }
  }
  p {
    padding: 0 8px 0 0;
    font-size: 14px;
    color: #ffffff;
    max-width: 780px;
    margin-bottom: 22px;
    line-height: 21px;
    font-weight: 400;

    opacity: 0;
    transform: translateX(-60px);
    transition: opacity $animation-speed, transform $animation-speed;

    @include media('≥tablet') {
      padding: 0 0 0 0;
      font-size: 20px;
      line-height: 26px;
    }

    &:nth-of-type(2) {
      transform: translateX(60px);
      transition-delay: 0.5s;
    }
    &:nth-of-type(3) {
      transform: translateX(-60px);
      transition-delay: 1s;
    }
  }

  p:last-child {
    margin-bottom: 40px;
  }

  em {
    font-style: normal;
  }
  .container {
    position: relative;
  }
  &__btn {
    font-size: 14px;
    font-family: $base-font-1;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff7701;
    max-width: 218px;
    min-height: 42px;
    background: none;
    padding: 15px 21px 15px 21px;
    line-height: 16px;
    margin: 31px auto 60px;
    display: block;

    @include media('≥phone') {
      padding: 15px 29px 15px 29px;
      margin: 0 auto 60px;
      max-width: 310px;
      line-height: 22px;
      font-size: 20px;
      min-height: 64px;
    }

    @include media('≥widescreen') {
      position: absolute;
      right: 17px;
      bottom: -64px;
    }
  }

  &__arrow-img {
    position: absolute;
    right: 17px;
    top: 0;
    z-index: 1;
    display: none;

    @include media('≥desktop') {
      display: block;
    }
  }

  &.in-viewport {
    .discover-power__title,
    p {
      opacity: 1;
      transform: translate(0);
    }
  }
}

strong {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}
