dl,
dt,
dd,
td,
figcaption {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.conference-schedule {
  margin-bottom: 60px;

  @include media('≥tablet') {
    margin-bottom: 75px;
  }

  color: #161616;

  &__title {
    line-height: 36px;
    font-size: 36px;
    font-weight: 900;
    font-family: $base-font-1;
    margin-bottom: 25px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(230px);
    transition: all $animation-speed;

    @include media('≥tablet') {
      margin-bottom: 53px;
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__subtitle {
    border-radius: 2px;
    border: 1px solid #ff7701;
    max-width: 1248px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;

    @include media('≥tablet') {
      margin-bottom: 15px;
      min-height: 76px;
      font-size: 30px;
    }

    a {
      font-family: $base-font-1;
      width: 100%;
      font-weight: 900;
      font-size: 15px;
      padding: 15px 0 19px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transform: translateY(30px);
      transition: all $animation-speed;

      @include media('≥tablet') {
        padding: 20px 0 20px 0;
        font-size: 30px;
      }

      &:nth-of-type(1) {
        transform: translateX(-160px);
      }
      &:nth-of-type(2) {
        transform: translateX(160px);
      }
    }

    a {
      background: #ffffff;
      color: #161616;
      &.active {
        color: #ffffff;
        background-color: #ff7701;
      }
    }
  }

  &__table-block {
    margin-bottom: 37px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #cbcbcb;
    background: #fff;
    border-top: none;

    tbody {
      display: flex;
      flex-direction: column;
      width: 100%;

      tr:nth-child(4) {
        td ~ td {
          p {
            font-weight: 700;

            strong {
              font-weight: 700;
            }
          }

          p ~ span {
            font-size: 18px;
            font-weight: 400;
            color: #8b8b8b;
          }
        }
      }

      tr {
        opacity: 0;
        transform: translateY(60px);
        transition: opacity $animation-speed, transform $animation-speed;
        &:nth-of-type(2) {
          transition-delay: 1s;
        }
        &:nth-of-type(3) {
          transition-delay: 1.5s;
        }
        &:nth-of-type(4) {
          transition-delay: 2s;
        }
      }
    }
  }

  &__table-column {
    height: 100%;
    border-radius: 2px;
    border-top: 0.5px solid #cbcbcb;
    padding: 9px 31px;
    display: flex;
    align-items: center;
    opacity: 0;

    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__table-column-action {
    max-width: 414px;
    width: 100%;

    strong {
      font-size: 18px;
      color: #8b8b8b;
      font-weight: 700;
    }

    p {
      color: #8b8b8b;
      font-size: 18px;
      font-weight: 500;

      strong {
        font-weight: normal;
      }
    }
  }

  &__table-column-status {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 265px;
    padding: 0 20px;

    .triangle {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      color: #161616;
    }

    .triangle::before {
      content: '';
      position: absolute;
      width: 12;
      height: 12;
      top: 0;
      left: -12px;
      border: 0 solid transparent;
      border-bottom-width: 12px;
      border-top-width: 0px;
      border-left: 12px solid #ff7701;
    }
  }

  &__table-column-participants {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    article {
      min-width: 41px;
    }

    img {
      border-radius: 50%;
    }

    figure {
      height: 100%;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      display: flex;
      justify-content: center;
      gap: 10px;

      dl {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        dt {
          color: #8b8b8b;
          font-size: 16px;
          font-weight: 700;
        }

        dd {
          color: #8b8b8b;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  &__table-column-time {
    display: flex;
    height: 100%;
    min-width: 160px;
  }

  .btn {
    min-width: 220px;
    display: flex;
    justify-content: center;
    font-family: $base-font-1;
    font-size: 14px;
    color: #ff7701;
    font-weight: 800;
    padding: 13px 15px 13px 15px;
    margin: 0 auto;
    min-height: 40px;

    @include media('≥tablet') {
      padding: 20px 15px 20px 15px;

      min-width: 337px;
      font-size: 20px;
    }

    &:hover {
      color: #ffffff;
    }
  }

  b {
    font-size: 16px;
    font-weight: 900 !important;
    font-family: $base-font-1;
    height: 100%;
    display: flex;
    padding: 15px;

    @include media('≥tablet') {
      font-size: 30px;
      font-weight: 900 !important;
      padding: 28px;
    }
  }
  &.in-viewport {
    .conference-schedule__title,
    .tabs-link,
    tr {
      opacity: 1;
      transform: translate(0);
    }
  }
}

td {
  border: none;
}

[href='#tab1-0'].active {
  color: #ffffff !important;
  background-color: #ff7701 !important;
}

[href='#tab2-0'].active {
  color: #ffffff !important;
  background-color: #ff7701 !important;
}

.conference-schedule {
  &__table-block-mobile {
    border-radius: 2px;
    border: 1px solid #cbcbcb;
    border-bottom: none;
    background: #fff;
    width: 100%;
    margin-bottom: 35px;

    tbody {
      width: 100%;
    }
  }

  &__mobile-column {
    border-radius: 2px;
    border-top: 1px solid #cbcbcb;
    width: 100%;
  }

  &__mobile-column-time {
    width: 20%;

    s {
      font-size: 16px;
      font-weight: 900;
      font-family: $base-font-1;
      color: #161616;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }

  &__mobile-column-action {
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
    padding-top: 17px;
    width: 85%;

    .registration-mobile {
      margin-bottom: 13px;

      h4 {
        color: #8b8b8b;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 2px;
        line-height: 18px;
      }

      p {
        color: #8b8b8b;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
      }
    }

    .status-mobile {
      margin-bottom: 13px;

      h4 {
        right: -13px;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        &::before {
          content: '';
          position: absolute;
          width: 12;
          height: 12;
          top: 0;
          left: -12px;
          border: 0 solid transparent;
          border-bottom-width: 12px;
          border-top-width: 0px;
          border-left: 12px solid #ff7701;
        }
      }
    }

    .participants-mobile {
      display: flex;

      figure {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: flex;
        gap: 5px;

        img {
          border-radius: 50%;
          width: 34px;
          height: 34px;
        }

        figcaption {
          h4 {
            font-size: 12px;
            color: #8b8b8b;
            font-weight: 700;
            line-height: 14px;
          }

          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #8b8b8b;
          }
        }
      }

      article {
        img {
          border-radius: 50%;
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.tab-content {
  width: 100%;
}

.desktop {
  display: none !important;

  @include media('≥tablet') {
    display: block !important;
    display: flex !important;
  }
}

.mobile {
  display: block !important;
  display: flex !important;

  @include media('≥tablet') {
    display: none !important;
  }
}

.conference-schedule__table-block-mobile {
  display: block !important;

  @include media('≥tablet') {
    display: none !important;
  }
}

.conference-schedule__table-block {
  display: none !important;

  @include media('≥tablet') {
    display: block !important;
  }
}
